body{
    background-color: #36174D;
    font-family: roboto, poppins, sans-serif, helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}